#month-view{
    display: none;
}
#day-view{
    display: flex;
}


.container{
    margin-left: 0%;
    margin-right: 0%;
    max-width:100%;
}
.row{
    width: 100%;
    margin:0%;
}
.navbar{
    line-height: 2.0;
    border-bottom: 1px solid #c0c0c0;
}

.navbar-light .navbar-brand{
    color:#696969;;
}

#date-icon img{
    padding-right:30%;
    height:45px;
}

.nav-link img{
    height: 15px;
    padding-left: 2%;
    
}

#weekday-label{
    text-align: center;
    border-left:1px solid #c0c0c0;
    border-right:1px solid #c0c0c0;
    color: #696969;
    font-size: 0.7rem;
}

.mvDiv{
    border: 1px solid #c0c0c0;
    border-top:none;
}

#week-day{
    text-align: center;
    font-size: 0.8rem;
}


#date-header{
    width:fit-content;
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #c0c0c0;
}

#dayEl{
    width:fit-content;
    margin-left:.2rem;
    font-size: 1rem;
}

#dateEl{
    width:fit-content;
    font-size: 2.2rem;
}

#hour-content{
    position: relative;
    height:auto;
    overflow-y: auto;
    
}

#hour-blocks{
    padding:0%;
}
#hour-events{
    padding:0%;
}

#hourEl{
    font-size: 1rem;
    color: #696969;
    height:10%;
    padding-right: 5%;
    border-right: 1px solid #696969;
    border-bottom: 1px solid #696969;
}

#hourBlockContent{
    height:10%;
    border-bottom: 1px solid #696969;
}

form{
    background-color: #ffffff;
    position: fixed;
    width:40%;
    bottom: 20%;
    left:30%;
    margin: 0%;
    padding: 5%;
    border: 1px solid #c0c0c0;
    border-radius: 15px;
}
#eventInput{
    display: none;
}

.dropdown-content li>span {
    color: #2296F3;
}

.eventContainer{
    position: relative;
    background-color: #7986CB;
    border-radius: .25rem;
}

#eventTitle{
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid rgb(78, 89, 146);
}
#eventDesc{
    font-size: 0.75rem;
}