#month-view{
    display: none;
}
#day-view{
    display: flex;
}


.container{
    margin-left: 0%;
    margin-right: 0%;
    max-width:100%;
}
.row{
    width: 100%;
    margin:0%;
}
.navbar{
    line-height: 2.0;
    border-bottom: 1px solid #c0c0c0;
}

.navbar-light .navbar-brand{
    color:#696969;;
}

#date-icon img{
    padding-right:30%;
    height:45px;
}

.nav-link img{
    height: 15px;
    padding-left: 2%;
    
}

#weekday-label{
    text-align: center;
    border-left:1px solid #c0c0c0;
    border-right:1px solid #c0c0c0;
    color: #696969;
    font-size: 0.7rem;
}

.mvDiv{
    border: 1px solid #c0c0c0;
    border-top:none;
}
#week-day{
    text-align: center;
    font-size: 0.8rem;
}
#add-btn{
    position: relative;
    top:0%;
    width:fit-content;
    padding:0%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left:1%;
    padding-right: 1%;
    border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}

#date-header{
    width:fit-content;
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #c0c0c0;
}

#dayEl{
    width:fit-content;
    margin-left:.2rem;
    font-size: 1rem;
}
#dateEl{

    width:fit-content;
    font-size: 2.2rem;

}
#hour-content{
    overflow-y: auto;
}
#hourEl{
    height:10%;
}