#month-view{
    display: flex;
}
#day-view{
    display: none;
}


.container{
    margin-left: 0%;
    margin-right: 0%;
    max-width:100%;
}
.row{
    width: 100%;
    margin:0%;
}
.navbar{
    line-height: 2.0;
    border-bottom: 1px solid #c0c0c0;
}

.navbar-light .navbar-brand{
    color:#696969;;
}

#date-icon img{
    padding-right:30%;
    height:45px;
}

.nav-link img{
    height: 15px;
    padding-left: 2%;
    
}

#weekday-label{
    text-align: center;
    border-left:1px solid #c0c0c0;
    border-right:1px solid #c0c0c0;
    color: #696969;
    font-size: 0.7rem;
}

.mvDiv{
    border: 1px solid #c0c0c0;
    border-top:none;
}
#week-day{
    text-align: center;
    font-size: 0.8rem;
}

#day-head{
    align-items: flex-end;
}
#add-btn{
    padding:0%;
    padding-top: 2%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #c0c0c0;
}

#date-header{
    padding-left: 0%;
    padding-top: 2%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #c0c0c0;
}